<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Anthony Esquivel wrote most of the content, Tyler Clift made minor changes">
    <meta name="description" content="Page for the UVA climbing team">
    <meta name="keywords" content="UVA virginia rock climbing team club">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <title>UVA Climbing</title>
</head>

<nav class="navbar navbar-expand-sm navbar-dark navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Climbing Team at UVA</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="../calendar.html">Calendar</a></li>
                <li class="nav-item"><a class="nav-link" href="../trips.php">Trips</a></li>
                <li class="nav-item"><a class="nav-link" href="../resources.html">Resources</a></li>
                <li class="nav-item"><a class="nav-link" href="../join.html">Join</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" >CAT FACTSSS</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1></h1>
            <p>Cat Facts can be found below</p>
            
            <app-catfacts></app-catfacts>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<!--Footer-->
<footer class="container foot row col-12">
    <small class=copyright>Copyright 2021 Anthony Esquivel and Tyler Clift. </small>
    <nav>
        <a href="../index.html">Home</a>
        <a href="../calendar.html">Calendar</a>
        <a href="../trips.php">Trips</a>
        <a href="../resources.html">Resources</a>
        <a href="../join.html">Join</a>
    </nav>
</footer>